html, body {
	@include font(100, 15px);
	height: 100%;
	width: 100%;

	* {
		box-sizing: border-box;
	}

	&.nav-open {
		overflow: hidden;
	}

	a {
		color: $whiteColor;
		text-decoration: none;
	}

	button {
		background: none;
		border: 0;
		cursor: pointer;
		outline: 0;
		padding: 0;
	}
	
	.icon {
		fill: $whiteColor;
		height: 24px;
		width: 24px;
	}

}

main {
	@include flex(center, column);
	@include transition(background-color, .25, linear, .25);
	color: $whiteColor;
	min-height: 100%;
	min-width: 100%;
}

@media screen and (min-width: $tabletMediaBreakpoint) {
	
	main {
		justify-content: center;
	}
}