@mixin flex($alignItems: "stretch", $flexDirection: "row", $justifyContent: "flex-start") {
	align-items: #{$alignItems};
	display: flex;
	flex-direction: #{$flexDirection};
	justify-content: #{$justifyContent};
}

@mixin font($weight, $size, $family: $serifFontFamily) {
  font: $weight $size $family;
}

@mixin logo($size, $color: $whiteColor) {
	border: #{$size/4}px solid #{$color};
	border-bottom-right-radius: #{$size/2}px;
	display: block;
	height: #{$size}px;
	width: #{$size}px;
}

@mixin transition($property: "all", $timeInSeconds: "1", $speedCurve: "ease", $delay: "0") {
	-webkit-transition: #{$property} #{$timeInSeconds}s #{$speedCurve} #{$delay}s;
    -moz-transition: #{$property} #{$timeInSeconds}s #{$speedCurve} #{$delay}s;
    -o-transition: #{$property} #{$timeInSeconds}s #{$speedCurve} #{$delay}s;
    transition: #{$property} #{$timeInSeconds}s #{$speedCurve} #{$delay}s;
    color: $delay;
}