header

	h1(title="Lisandro Jofré")
		span.logo

	button(ng-click="$ctrl.toggleNav()" ng-switch="$ctrl.isNavOpen")
		app-icon(icon="menu" ng-switch-when="false")
		app-icon(icon="close" ng-switch-when="true")

nav(ng-if="$ctrl.isNavOpen" ng-animate-children="true")
	a(ng-repeat="item in $ctrl.menu" ng-click="$ctrl.toggleNav()" ui-sref="section({section: '{{item.ROUTE_PARAMS.SECTION}}'})" ui-sref-active="active") {{ item.DISPLAY_NAME }}