section {
	margin: 90px 0;
	max-width: $desktopMediaBreakpoint;
	padding: 30px 15px;

	&.ng-enter {
		@include transition(all, .25, ease-in-out, .25);
		opacity: 0;
		transform: translateY(5px);

		&.ng-enter-active {
			opacity: 1;
			transform: translateY(0);
		}
	}

	app-section {

		> div {
			margin-bottom: 30px;

			h2 {
				@include font(700, 25px, $sansSerifFontFamily);
				margin-bottom: 10px;

				span {
					display: block;
					font-weight: 400;
				}
			}

			h3 {
				@include font(400, 20px, $sansSerifFontFamily);
				margin-bottom: 10px;
			}

			p,
			ul li {
				line-height: 25px;

				strong {
					font-weight: 400;
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@media screen and (min-width: $tabletMediaBreakpoint) {
	
	section {
		margin: 120px 0;
		padding: 0 150px;

		app-section {
			> div {
				
				&.experience {

					h2 {
						font-size: 40px;
					}

					h3 {
						font-size: 25px;
					}
				}

				h2 {
					font-size: 60px;
				}

				p,
				ul li {
					font-size: 16px;
					line-height: 30px;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {

	section {
		app-section {
			> div {

				p,
				ul li {
					font-size: 18px;
				}
			}
		}
	}
}