doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="Personal resume for screen/print media.")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Lisandro Jofré

		link(href="build/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon")
		link(href="build/assets/img/favicon.ico" rel="icon" type="image/x-icon")

		link(href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Roboto+Slab:100,400,700" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="build/bundle.css")

	body(ng-app="app" ng-class="{'nav-open': isNavOpen}")

		ng-include(src="'build/assets/img/icons.svg'")

		main(ng-style="{'background-color': bgColor}")
			app-header
			section(ui-view="content")

		script(src="build/vendors/angular.min.js")
		script(src="build/vendors/angular-ui-router.min.js")
		script(src="build/vendors/angular-sanitize.min.js")
		script(src="build/vendors/angular-animate.min.js")

		// build:js build/bundle.js
		script(src="app.js")
		script(src="app.routes.js")
		script(src="app.constants.js")
		script(src="components/header/header.component.js")
		script(src="components/header/header.ctrl.js")
		script(src="components/icon/icon.component.js")
		script(src="components/section/section.component.js")
		script(src="components/section/section.ctrl.js")
		script(src="../build/partials/partials.js")
		// endbuild